body {
    font-family: "Barriecito", system-ui, Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("images/casino-table.jpg");
    background-size: cover;

}

button {
    background: #ffc518;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: #036d43;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

button:hover {
    background-color: #ca7225;
    color: aliceblue;
    transition: 0.75s ease-in-out;
    cursor: pointer;
}

div {
    width: 500px;
    height: 100px;
    margin: 0 auto;
}

h2 {
    color: #ffc518;
    font-size: 64px;
    text-decoration: underline;
}

h2,
p {
    text-shadow: 2px 5px 8px #101313;
}

p {
    font-size: 38px;
    color: #e8e3e3f1;
}